#cover {
  height: 350px;
  background: url(https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-prn2/t1.0-9/536125_10150861504498140_310826462_n.jpg) no-repeat center center fixed;
  background-size: cover;
  box-shadow: inset 3px 0px 2px 0px #323232;
}
