/*------------------------------------------------------------------
[Master Stylesheet]

Project:	USA Rugby
Version:	2.0

1. Imports
2. Fonts
3. Colors
4. Shadows
5. Utilities
6. Layout

--------------------------------------------------------------------*/
/* 1. Imports  -----------------------------------------------------*/
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?pyg9o5');
  src: url('../fonts/icomoon.eot?#iefixpyg9o5') format('embedded-opentype'), url('../fonts/icomoon.woff?pyg9o5') format('woff'), url('../fonts/icomoon.ttf?pyg9o5') format('truetype'), url('../fonts/icomoon.svg?pyg9o5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-uniE60C:before {
  content: "\e60c";
}
.icon-expand:before {
  content: "\e60a";
}
.icon-stats:before {
  content: "\e600";
}
.icon-bars:before {
  content: "\e602";
}
.icon-list:before {
  content: "\e609";
}
.icon-filter:before {
  content: "\e60b";
}
.icon-search:before {
  content: "\e603";
}
.icon-compose:before {
  content: "\e60d";
}
.icon-calendar:before {
  content: "\e605";
}
.icon-grid:before {
  content: "\e601";
}
.icon-users:before {
  content: "\e604";
}
.icon-browser:before {
  content: "\e608";
}
.icon-twitter:before {
  content: "\e606";
}
.icon-facebook:before {
  content: "\e607";
}
div.dataTables_length label {
  font-weight: normal;
  float: left;
  text-align: left;
}
div.dataTables_length select {
  width: 75px;
}
div.dataTables_filter label {
  font-weight: normal;
  float: right;
}
div.dataTables_filter input {
  width: 16em;
}
div.dataTables_info {
  padding-top: 8px;
}
div.dataTables_paginate {
  float: right;
  margin: 0;
}
div.dataTables_paginate ul.pagination {
  margin: 2px 0;
  white-space: nowrap;
}
table.dataTable td,
table.dataTable th {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
table.dataTable {
  clear: both;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: none !important;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
}
table.dataTable thead .sorting {
  background: url('../images/sort_both.png') no-repeat center right;
}
table.dataTable thead .sorting_asc {
  background: url('../images/sort_asc.png') no-repeat center right;
}
table.dataTable thead .sorting_desc {
  background: url('../images/sort_desc.png') no-repeat center right;
}
table.dataTable thead .sorting_asc_disabled {
  background: url('../images/sort_asc_disabled.png') no-repeat center right;
}
table.dataTable thead .sorting_desc_disabled {
  background: url('../images/sort_desc_disabled.png') no-repeat center right;
}
table.dataTable thead > tr > th {
  padding-left: 18px;
  padding-right: 18px;
}
table.dataTable th:active {
  outline: none;
}
/* Scrolling */
div.dataTables_scrollHead table {
  margin-bottom: 0 !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
div.dataTables_scrollHead table thead tr:last-child th:first-child,
div.dataTables_scrollHead table thead tr:last-child td:first-child {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
div.dataTables_scrollBody table {
  border-top: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
div.dataTables_scrollBody tbody tr:first-child th,
div.dataTables_scrollBody tbody tr:first-child td {
  border-top: none;
}
div.dataTables_scrollFoot table {
  margin-top: 0 !important;
  border-top: none;
}
/* Frustratingly the border-collapse:collapse used by Bootstrap makes the column
   width calculations when using scrolling impossible to align columns. We have
   to use separate
 */
table.table-bordered.dataTable {
  border-collapse: separate !important;
}
table.table-bordered thead th,
table.table-bordered thead td {
  border-left-width: 0;
  border-top-width: 0;
}
table.table-bordered tbody th,
table.table-bordered tbody td {
  border-left-width: 0;
  border-bottom-width: 0;
}
table.table-bordered th:last-child,
table.table-bordered td:last-child {
  border-right-width: 0;
}
div.dataTables_scrollHead table.table-bordered {
  border-bottom-width: 0;
}
/*
 * TableTools styles
 */
.table tbody tr.active td,
.table tbody tr.active th {
  background-color: #08C;
  color: white;
}
.table tbody tr.active:hover td,
.table tbody tr.active:hover th {
  background-color: #0075b0 !important;
}
.table tbody tr.active a {
  color: white;
}
.table-striped tbody tr.active:nth-child(odd) td,
.table-striped tbody tr.active:nth-child(odd) th {
  background-color: #017ebc;
}
table.DTTT_selectable tbody tr {
  cursor: pointer;
}
div.DTTT .btn {
  color: #333 !important;
  font-size: 12px;
}
div.DTTT .btn:hover {
  text-decoration: none !important;
}
ul.DTTT_dropdown.dropdown-menu {
  z-index: 2003;
}
ul.DTTT_dropdown.dropdown-menu a {
  color: #333 !important;
  /* needed only when demo_page.css is included */
}
ul.DTTT_dropdown.dropdown-menu li {
  position: relative;
}
ul.DTTT_dropdown.dropdown-menu li:hover a {
  background-color: #0088cc;
  color: white !important;
}
div.DTTT_collection_background {
  z-index: 2002;
}
/* TableTools information display */
div.DTTT_print_info.modal {
  height: 150px;
  margin-top: -75px;
  text-align: center;
}
div.DTTT_print_info h6 {
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  margin: 1em;
}
div.DTTT_print_info p {
  font-size: 14px;
  line-height: 20px;
}
div.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 40px;
  margin-left: -50%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background-color: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
}
/*
 * FixedColumns styles
 */
div.DTFC_LeftHeadWrapper table,
div.DTFC_LeftFootWrapper table,
div.DTFC_RightHeadWrapper table,
div.DTFC_RightFootWrapper table,
table.DTFC_Cloned tr.even {
  background-color: white;
  margin-bottom: 0;
}
div.DTFC_RightHeadWrapper table,
div.DTFC_LeftHeadWrapper table {
  margin-bottom: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
div.DTFC_RightHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_RightHeadWrapper table thead tr:last-child td:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
div.DTFC_RightBodyWrapper table,
div.DTFC_LeftBodyWrapper table {
  border-top: none;
  margin: 0 !important;
}
div.DTFC_RightBodyWrapper tbody tr:first-child th,
div.DTFC_RightBodyWrapper tbody tr:first-child td,
div.DTFC_LeftBodyWrapper tbody tr:first-child th,
div.DTFC_LeftBodyWrapper tbody tr:first-child td {
  border-top: none;
}
div.DTFC_RightFootWrapper table,
div.DTFC_LeftFootWrapper table {
  border-top: none;
}
/*
 * FixedHeader styles
 */
div.FixedHeader_Cloned table {
  margin: 0 !important;
}
table.dataTable.dtr-inline.collapsed tbody td:first-child,
table.dataTable.dtr-inline.collapsed tbody th:first-child {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
table.dataTable.dtr-inline.collapsed tbody td:first-child:before,
table.dataTable.dtr-inline.collapsed tbody th:first-child:before {
  top: 8px;
  left: 4px;
  height: 16px;
  width: 16px;
  display: block;
  position: absolute;
  color: white;
  border: 2px solid white;
  border-radius: 16px;
  text-align: center;
  line-height: 14px;
  -webkit-box-shadow: 0 0 3px #444;
          box-shadow: 0 0 3px #444;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  content: '+';
  background-color: #31b131;
}
table.dataTable.dtr-inline.collapsed tbody tr.parent td:first-child:before,
table.dataTable.dtr-inline.collapsed tbody tr.parent th:first-child:before {
  content: '-';
  background-color: #d33333;
}
table.dataTable.dtr-inline.collapsed tbody tr.child td:before {
  display: none;
}
table.dataTable.dtr-column tbody td.control,
table.dataTable.dtr-column tbody th.control {
  position: relative;
  cursor: pointer;
}
table.dataTable.dtr-column tbody td.control:before,
table.dataTable.dtr-column tbody th.control:before {
  top: 50%;
  left: 50%;
  height: 16px;
  width: 16px;
  margin-top: -10px;
  margin-left: -10px;
  display: block;
  position: absolute;
  color: white;
  border: 2px solid white;
  border-radius: 16px;
  text-align: center;
  line-height: 14px;
  -webkit-box-shadow: 0 0 3px #444;
          box-shadow: 0 0 3px #444;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  content: '+';
  background-color: #31b131;
}
table.dataTable.dtr-column tbody tr.parent td.control:before,
table.dataTable.dtr-column tbody tr.parent th.control:before {
  content: '-';
  background-color: #d33333;
}
table.dataTable tr.child {
  padding: 0.5em 1em;
}
table.dataTable tr.child:hover {
  background: transparent !important;
}
table.dataTable tr.child ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
table.dataTable tr.child ul li {
  border-bottom: 1px solid #efefef;
  padding: 0.5em 0;
}
table.dataTable tr.child ul li:first-child {
  padding-top: 0;
}
table.dataTable tr.child ul li:last-child {
  border-bottom: none;
}
table.dataTable tr.child span.dtr-title {
  display: inline-block;
  min-width: 75px;
  font-weight: bold;
}
/*------------------------------------------------------------------
[Header Stylesheet]

Project:	CMS
Version:	2.0

1. Nav (Top)

--------------------------------------------------------------------*/
header {
  height: 55px;
  line-height: 55px;
  background: rgba(255, 255, 255, 0.95);
  top: 0;
  right: 0;
  z-index: 1;
  left: 0;
  border-bottom: 5px solid #d5d8df;
  position: relative;
  background: #FFF;
}
header:after {
  position: absolute;
  content: '';
  height: 1px;
  background: rgba(0, 0, 0, 0.05);
  bottom: -1px;
  left: 0;
  right: 0px;
  z-index: 2;
}
header:before {
  position: absolute;
  content: '';
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  bottom: -5px;
  left: 0;
  right: 0;
  z-index: 3;
}
header #brand {
  text-transform: uppercase;
  font-size: 16px;
  padding: 0;
  line-height: 55px;
  float: left;
  background: #223850;
  position: relative;
}
header #brand a {
  color: #FFF;
  padding: 0 30px;
  display: block;
}
header #brand:after {
  position: absolute;
  content: '';
  height: 5px;
  background: #162433;
  bottom: 0;
  left: 0;
  right: 0px;
}
header #user > a,
header #comps > a {
  display: block;
  padding: 0 25px;
  border-left: 1px solid rgba(0, 0, 0, 0.06);
  color: #6f747a;
  position: relative;
}
header #user > a img,
header #comps > a img {
  border-radius: 55px;
  width: 32px;
  height: 32px;
  margin-bottom: 6px;
  margin-right: 15px;
}
header #comps a {
  padding-right: 45px;
  border-right: 1px solid rgba(0, 0, 0, 0.06);
  width: 225px;
  padding-left: 40px;
}
header #user a {
  padding-right: 40px;
}
header #user a:after {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #6f747a;
  position: absolute;
  content: '';
  right: 20px;
  bottom: 50%;
  margin-bottom: -2px;
}
header #search-box {
  float: left;
}
header #search-box span {
  padding-left: 20px;
  line-height: 55px;
  float: left;
}
header [class^="icon-"] {
  float: right;
  line-height: 55px;
  display: block;
  padding-left: 20px;
}
header input {
  border: transparent;
  border-radius: 0;
  height: 55px;
  padding: 10px 0 10px 10px;
  outline: transparent;
  background: transparent;
  font-size: 15px;
  color: #6f747a;
  max-width: 500px;
  float: left;
  line-height: 25px;
}
header #drawer .line {
  display: block;
  background: #6f747a;
  height: 2px;
  position: absolute;
  width: 12px;
  right: 36px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
header #drawer .line.line-1 {
  top: 22px;
}
header #drawer .line.line-2 {
  top: 26px;
}
header #drawer .line.line-3 {
  top: 30px;
}
header #drawer.active .line-1 {
  -webkit-transform: translateY(4px) translateX(0) rotate(45deg);
      -ms-transform: translateY(4px) translateX(0) rotate(45deg);
          transform: translateY(4px) translateX(0) rotate(45deg);
}
header #drawer.active .line-3 {
  -webkit-transform: translateY(-4px) translateX(0) rotate(-45deg);
      -ms-transform: translateY(-4px) translateX(0) rotate(-45deg);
          transform: translateY(-4px) translateX(0) rotate(-45deg);
}
header #drawer.active .line-2 {
  display: none;
}
#drawer-menu {
  width: 230px;
  float: right;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  background: #223850;
  height: 100%;
  border-left: 4px solid rgba(0, 0, 0, 0.1);
}
#drawer-menu ul {
  list-style: none;
  margin: 55px 0 0 0;
  padding: 0;
}
#drawer-menu ul li a {
  color: rgba(255, 255, 255, 0.5);
  height: 35px;
  line-height: 35px;
  border-top: 1px solid #253d57;
  border-bottom: 1px solid #1f3349;
  padding-left: 15px;
  display: block;
}
#drawer-menu ul li a:hover {
  background: #1f3349;
}
table {
  width: 100%;
}
table thead {
  font-weight: bold;
  color: #223850;
  font-size: 13px;
  height: 35px;
  background: #eff0f3;
}
table thead tr {
  height: 40px;
}
table thead th {
  line-height: 40px;
  padding: 0 10px;
}
table thead th:first-of-type {
  padding-left: 30px;
  text-align: left;
}
table thead th:last-of-type {
  padding-right: 30px;
}
table tbody tr {
  width: 100%;
  height: 40px;
  list-style: none;
  padding: 0 30px;
}
table tbody tr.active,
table tbody tr.active:nth-child(odd) {
  background: #c23752;
  position: relative;
  height: 42px;
  color: #FFF;
}
table tbody tr.active a,
table tbody tr.active:nth-child(odd) a {
  color: #FFF;
}
table tbody tr.active:after,
table tbody tr.active:nth-child(odd):after {
  position: absolute;
  height: 4px;
  left: 0;
  right: 0;
  background: #ae314a;
  content: '';
}
table tbody tr:nth-child(odd) {
  background: #f9fafb;
}
table tbody td {
  line-height: 40px;
  padding: 0 10px;
}
table tbody td a {
  color: #6f747a;
}
table tbody td:first-of-type {
  padding-left: 30px;
}
table tbody td:last-of-type {
  padding-right: 30px;
}
table tbody td.date {
  width: 15%;
}
table tbody td.opponent {
  width: 30%;
}
table tbody td.result-time {
  width: 15%;
}
table tbody td.location {
  width: 30%;
}
table tbody td.type {
  width: 10%;
}
table tbody td.player {
  width: 62%;
}
table tbody td.position {
  width: 18%;
  text-align: center;
}
table tbody td img {
  height: 23px;
  margin-bottom: 2px;
  padding-right: 6px;
}
#standings tr:hover,
#schedule tr:hover {
  background: #f2f3f5;
  cursor: pointer;
}
#standings tr:hover.even,
#schedule tr:hover.even,
#standings tr:hover:nth-child(even),
#schedule tr:hover:nth-child(even) {
  background: #FAFAFC;
}
#standings tr:hover.even:hover,
#schedule tr:hover.even:hover,
#standings tr:hover:nth-child(even):hover,
#schedule tr:hover:nth-child(even):hover {
  background: #f2f3f5;
}
#schedule .result-time span {
  font-size: 12px;
  font-weight: bold;
  color: #c23752;
  padding-right: 5px;
}
.col-sm-5 #schedule .type,
.col-sm-5 #schedule .location {
  display: none;
}
#standings table tbody td:first-of-type {
  padding-left: 25px;
}
#standings {
  padding-right: 0;
}
#standings .points {
  width: 17%;
  text-align: center;
  font-weight: bold;
}
#standings .record {
  width: 17%;
  text-align: center;
  font-size: 12px;
  position: relative;
}
#standings .team {
  width: 66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}
#standings .more {
  display: none;
  text-align: center;
}
#standings.col-sm-7 .title {
  margin: 0;
}
#standings.col-sm-7 td {
  border-left: 1px solid #eff0f3;
}
#standings.col-sm-7 tr.active {
  position: relative;
}
#standings.col-sm-7 tr.active td {
  border-left: 0;
}
#standings.col-sm-7 tr.active td.points {
  background: #c23752;
}
#standings.col-sm-7 .team {
  width: 55%;
}
#standings.col-sm-7 .points {
  width: 10%;
  background: #f4f5f7;
  padding-right: 10px;
  padding-left: 10px;
  border-left: 0;
}
#standings.col-sm-7 .record {
  width: 13%;
  font-size: 14px;
}
#standings.col-sm-7 thead .points {
  background: #e6e8ec;
}
.panel .tabs {
  list-style: none;
  margin: 0;
  padding: 0;
}
.panel .tabs li h2 {
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
  padding: 0;
  border-right: 2px solid #1f3349;
}
.panel .tabs li h2 span {
  color: rgba(255, 255, 255, 0.5);
}
.panel .tabs h2 a {
  color: rgba(255, 255, 255, 0.5);
  display: block;
  padding: 0 30px;
}
.panel .tabs .active h2 a {
  background: rgba(0, 0, 0, 0.1);
  color: #FFF;
  position: relative;
}
.panel .tabs .active h2 a span {
  color: #FFF;
}
.panel .tabs .active h2 a:after {
  content: '';
  top: -3px;
  right: -2px;
  left: 0;
  height: 3px;
  background: #c23752;
  z-index: 4;
  position: absolute;
}
.panel {
  margin-bottom: 20px;
  background: #FFF;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #e6e8ec;
  width: 100%;
  position: relative;
}
.panel .title {
  background: #223850;
  border-bottom: 2px solid #c9cdd6;
  height: 43px;
  position: relative;
  margin: 0 -1px;
}
.panel .title:after {
  position: absolute;
  content: '';
  height: 1px;
  background: #cacaca;
  bottom: -1px;
  left: 0;
  right: 0;
  z-index: 2;
}
.panel .title:before {
  position: absolute;
  content: '';
  height: 1px;
  background: #d5d5d5;
  bottom: -3px;
  left: 0;
  right: 0;
  z-index: 3;
}
.panel .title h2 {
  font-size: 20px;
  color: #FFF;
  text-transform: uppercase;
  line-height: 40px;
  padding: 0 30px;
  position: relative;
  margin: 0;
  float: left;
  height: 40px;
}
.panel .title h2 span {
  padding-right: 8px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
}
.panel .title a.utility {
  color: rgba(255, 255, 255, 0.6);
  float: right;
  line-height: 40px;
  display: block;
  background: rgba(0, 0, 0, 0.05);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  font-size: 12px;
}
.panel .title a.utility span {
  padding-right: 8px;
  font-size: 10px;
}
.game #players th {
  font-size: 12px;
}
.game #players th.home-player {
  text-align: right;
}
.game #players td.home-player {
  text-align: right;
}
.game #players td.home-player,
.game #players td.away-player {
  width: 40%;
}
.game #players td.away-player {
  text-align: left;
}
.game #players td {
  text-align: center;
}
.game #players tr {
  height: 34px;
}
.game #players tr td {
  font-size: 13px;
  line-height: 34px;
  height: 34px;
}
#standings-full th {
  background: #223850;
  color: #FFF;
  height: 40px;
  line-height: 40px;
}
#standings-full th h2 {
  margin: 0;
  font-size: 24px;
}
#standings-full tr td,
#standings-full table thead th {
  text-align: center;
}
#standings-full tr td.team,
#standings-full tr th.team {
  text-align: left;
}
/*------------------------------------------------------------------
[Profile Stylesheet]

Project:	USA Rugby
Version:	2.0

1. Imports
2. Fonts
3. Colors
4. Shadows
5. Utilities
6. Layout

--------------------------------------------------------------------*/
#profile {
  padding: 15px 0;
}
#profile h1 {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  display: block;
}
#profile .meta > div {
  border-top: 1px solid #f2f3f5;
  height: 30px;
  line-height: 30px;
  margin: 0 20px;
}
#profile .meta > div span {
  font-weight: bold;
}
#cover {
  height: 400px;
  background: url(../img/header-bg.jpg) no-repeat center center;
  -webkit-background-size: cover cover;
          background-size: cover;
  position: relative;
}
#cover .title {
  padding: 40px 80px;
  position: relative;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#cover .title h1 {
  color: #FFF;
  left: 120px;
  font-size: 64px;
  line-height: 58px;
  z-index: 1;
  letter-spacing: -1px;
  display: inline-block;
  float: left;
  margin: 0;
  border-right: 1px solid #FFF;
  margin-right: 15px;
  padding-right: 15px;
  padding-left: 40px;
}
#cover .title #team-logo {
  position: absolute;
  left: 40px;
  bottom: 50px;
}
#cover .title #team-logo img {
  width: 80px;
  z-index: 1;
}
#cover .title .meta {
  float: left;
  display: inline-block;
  color: #FFF;
}
#cover .title .meta .links {
  padding-top: 4px;
}
#cover .title .meta .links > a {
  float: left;
  padding-right: 9px;
  color: rgba(255, 255, 255, 0.7);
}
#cover .title .meta .links > a:hover {
  color: #FFF;
}
#cover:after {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 15, 30, 0.7)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 15, 30, 0.7) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 15, 30, 0.7) 100%);
}
#game-header {
  margin: 0;
  height: 150px;
}
#game-header > div {
  background: #f2f3f5;
  position: relative;
}
#game-header > div .score {
  color: #FFF;
  font-family: "refrigerator-deluxe";
  font-size: 80px;
  line-height: 150px;
}
#game-header > div.away-team {
  background: url('http://usarugby.dev.lundrigan.ca/assets/img/teamcoverimages/2.png') center center no-repeat;
  -webkit-background-size: cover cover;
          background-size: cover;
  position: relative;
}
#game-header > div.away-team:after {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background: rgba(15, 33, 68, 0.9);
  z-index: 0;
}
#game-header > div.away-team .score {
  float: left;
  z-index: 1;
  position: relative;
}
#game-header > div.away-team h2 {
  float: left;
  line-height: 150px;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  font-size: 48px;
  position: relative;
  z-index: 1;
}
#game-header > div.away-team h2 a {
  color: #FFF;
  z-index: 1;
  position: relative;
}
#game-header > div.away-team .team-logo img {
  float: left;
  width: 60px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}
#game-header > div.home-team {
  background: url('../img/header-bg.jpg') center top no-repeat;
  -webkit-background-size: cover cover;
          background-size: cover;
}
#game-header > div.home-team:after {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background: rgba(11, 23, 46, 0.9);
  z-index: 0;
}
#game-header > div.home-team .score {
  float: right;
  z-index: 1;
  position: relative;
}
#game-header > div.home-team h2 {
  float: right;
  line-height: 150px;
  margin: 0;
  padding: 0;
  padding-right: 30px;
  font-size: 48px;
  z-index: 1;
  position: relative;
}
#game-header > div.home-team h2 a {
  color: #FFF;
}
#game-header > div.home-team .team-logo img {
  float: left;
  width: 60px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 1;
}
.game #players {
  padding-right: 0;
}
.game #players tr {
  padding: 0 10px;
}
.game #players table thead th:first-of-type {
  padding-left: 5px;
}
.game #players table thead th:last-of-type {
  padding-right: 5px;
}
.game .panel .title a.edit {
  background: #c23752;
  color: #FFF;
  line-height: 30px;
  margin-top: 7px;
  margin-right: 10px;
  border-radius: 30px;
}
.game .panel .title {
  height: 46px;
  line-height: 46px;
}
.game .panel .title h2 {
  line-height: 44px;
}
#game-meta {
  background: #FFF;
  height: 55px;
  line-height: 55px;
  position: relative;
  z-index: 1;
}
#game-meta ul {
  list-style: none;
  margin: 0;
  padding: 0 20px;
}
#game-meta ul li {
  float: left;
  padding: 0 20px;
  border-right: 1px solid #f2f3f5;
}
/* 2. Fonts  -------------------------------------------------------*/
h1,
h2 {
  font-family: "refrigerator-deluxe";
}
html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
/* 3. Colors  -------------------------------------------------------*/
body {
  font-size: 14px;
  color: #6f747a;
  font-family: "proxima-nova";
  background: #161212 url('../img/bg.jpg') center top no-repeat;
}
.container {
  position: relative;
  padding: 0;
  -webkit-box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.09);
          box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.09);
}
#inner {
  -webkit-transition: all 200ms;
          transition: all 200ms;
}
#inner.open {
  -webkit-transform: translateX(-230px);
      -ms-transform: translateX(-230px);
          transform: translateX(-230px);
}
#content {
  padding-left: 0;
}
.no-pad {
  padding: 0;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
main.row {
  background: #f2f3f5;
  margin: 0;
  position: relative;
  padding: 30px 30px;
  min-height: 800px;
}
footer {
  background: #223850;
  text-align: center;
  z-index: 4;
  position: relative;
  height: 50px;
  line-height: 50px;
}
footer p {
  margin: 0;
}
