<?php
return array(
    'modules' => array(
        // @TODO Only necessary because of NestedCollectionInputFilter stuff
        'UsaRugbyStats\Application',
        'UsaRugbyStats\Competition',
        // @TODO Only necessary because of NonuniformCollection stuff
        'UsaRugbyStats\AccountAdmin',
    ),
    'module_listener_options' => array(
        'config_glob_paths' => array(),
        'module_paths' => array(
            'UsaRugbyStats\Application'  => realpath(__DIR__ . '/../../Application'),
            'UsaRugbyStats\Competition'  => realpath(__DIR__ . '/../../Competition'),
            'UsaRugbyStats\AccountAdmin'  => realpath(__DIR__ . '/../../AccountAdmin'),
        ),
    ),
);
