<?php
return array(
    'modules' => array(
        'UsaRugbyStats\Account',
        'UsaRugbyStats\AccountAdmin',
        'UsaRugbyStats\Application',
        'UsaRugbyStats\Competition',
        'UsaRugbyStats\RemoteDataSync',
    ),
    'module_listener_options' => array(
        'config_glob_paths' => array(),
        'module_paths' => array(
            'UsaRugbyStats\Account'  => realpath(__DIR__ . '/../../Account'),
            'UsaRugbyStats\AccountAdmin'  => realpath(__DIR__ . '/../../AccountAdmin'),
            'UsaRugbyStats\Application'  => realpath(__DIR__ . '/../../Application'),
            'UsaRugbyStats\Competition'  => realpath(__DIR__ . '/../../Competition'),
            'UsaRugbyStats\RemoteDataSync'  => realpath(__DIR__ . '/../../RemoteDataSync'),
        ),
    ),
);
