<?php
return array(
    'doctrine' => array(
        'fixture' => array(
            'UsaRugbyStats_Account_fixture_testing' => 'module/UsaRugbyStats/Account/src/Fixtures/Testing',
            'UsaRugbyStats_Competition_fixture_testing' => 'module/UsaRugbyStats/Competition/src/Fixtures/Testing',
        )
    )
);
